.adicionar__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    background-color: var(--cinza-background);
}

.adicionar__container h2 {
    display: flex;
    font-family: var(--fonte-principal);
    font-size: 22px;
    font-weight: 700;
    width: 330px; 
    margin: 1em auto;
}

.adicionar__item {
    width: 330px;
    height: 55px;
    margin: 0.5em auto;
    box-shadow: 0 2px rgba(200,200,200);
    border-radius: 4px;
}

#opcoes {
    width: 330px;
    height: 55px;
    margin: 0.3em auto;
    box-shadow: 0 2px rgba(200,200,200);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    appearance: none;
    padding-left: 10px;
}

.adicionar__item::placeholder {
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-placeholder);
    position: absolute;
    top: 10px;
    left: 10px;
}

.add__botao {
    width: 330px;
    height: 50px;
    background-color: var(--azul-fonte);
    margin: 0 auto;
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}

.add__botao:hover {
    border: 1px solid var(--azul-fonte);
    color: var(--azul-fonte);
    background: var(--branco);
    transition: 0.5s;
}

@media screen and (min-width: 768px){
    .adicionar__container h2 {
        width: 700px;
    }

    .adicionar__item {
        width: 700px;
    }

    #opcoes {
        width: 700px;
    }

    #add__botao {
        width: 700px;
    }
}

@media screen and (min-width: 1440px) {
    .adicionar__container h2 {
        width: 510px;
    }

    .adicionar__item {
        width: 510px;
    }

    #opcoes {
        width: 510px;
    }

    #add__botao {
        width: 510px;
    }
}