.adicionar__container h2 {
    font-family: var(--fonte-principal);
    font-size: 22px;
    font-weight: 700;
    padding: 1em 0 0.4em 1.4em;
}

.adicionar__container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2em;
    padding-bottom: 2em;
    background-color: var(--cinza-background);
}

.adicionar__item {
    width: 330px;
    height: 55px;
    margin: 0.5em auto;
    box-shadow: 0 2px rgba(200,200,200);
    border-radius: 4px;
}

#opcoes {
    width: 330px;
    height: 55px;
    margin: 0.3em auto;
    box-shadow: 0 2px rgba(200,200,200);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    appearance: none;
    padding-left: 10px;
}

.adicionar__item::placeholder {
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-placeholder);
    position: absolute;
    top: 10px;
    left: 10px;
}

#add__botao {
    width: 330px;
    height: 50px;
    background-color: var(--azul-fonte);
    margin: 0 auto;
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 400;
}

