.container {
    background-color: var(--azul-formulario);
}

.informacoes__footer {
    text-align: center;
}

.footer__paragrafo {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--fonte-principal);
    padding-bottom: 1.5em;
}

#logo__footer {
    padding: 2em;
}

.formulario__footer {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
}

.formulario__footer h2 {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 10px 10px;
}

#nome {
    width: 330px;
    height: 56px;
    box-shadow: 0 2px rgba(200,200,200);
    margin: 0 auto;
}

#nome::placeholder {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-placeholder);
}

#escrevaSuaMensagem {
    box-shadow: 0 2px rgba(200,200,200);
    width: 330px;
    height: 80px;
    margin: 16px auto;
}

#escrevaSuaMensagem::placeholder {
    position: absolute;
    top: 1em;
    left: 0.5em;
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-placeholder)
}

#enviarMensagem {
    width: 150px;
    height: 40px;
    background-color: var(--azul-fonte);
    font-size: 14px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--branco);
    margin: 0 0 10px 10px;
}

.rodape {
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
    padding: 2em 0;
    background-color: var(--branco);
}

.rodape p {
    padding-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .informacoes__footer {
        text-align: left;
        margin: 0 auto;
    }

    #logo__footer {
        padding: 1em 0;
    }

    .formulario__footer{
        width: 60%;
        padding-top: 1em;
    }

    .formulario__footer h2 {
        padding:0;
        margin-bottom: 1em;
    }

    #nome {
        width: 100%;
        margin: 0;
    }

    #escrevaSuaMensagem {
        width: 100%;
        margin: 1em 0;
    }

    #enviarMensagem {
        margin: 0;
    }

    .rodape{
        width: 100%;
    }
}

@media screen and (min-width: 1440px){
    .informacoes__footer {
        width: 60%;
        margin: 0;
        padding-top: 1em;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 50px 50px 50px;
    }

    #logo__footer {
        grid-row-start: 1;
        grid-row-end: 7;
        width: 50%;
        margin: 0 auto;
        padding: 0;
    }

    .formulario__footer{
        width: 30%;
        padding-top: 1em;
        margin: 0 auto 0 0;
    }
}