.menu {
    display: flex;
    justify-content: center;
}

.menu__lista {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}

.menu__item {
    padding: 1.5em 0;
}

.menu button {
    border: 1.5px solid var(--azul-fonte);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 600;
    color: var(--azul-fonte);
    padding: 0.5em 3em;
    margin: 0 3.5em;
}

/*botão ADM*/

#menu__adm {
    padding: 14px 14px;
    margin: auto 2.5em;
}

/*____________________________________*/

.barra__pesquisa {
    display: none;
}

@media screen and (min-width: 768px){
    .menu__lista {
        padding-left: 3em;
        justify-content: initial;
    }

    .lupa__mobile {
        display: none;
    }

    .barra__pesquisa {
        display: block;
        background-color: var(--cinza-pesquisa);
        width: 270px;
        height: 40px;
        border-radius: 20px;
        padding: 0 0.5em 0 1em;
        margin-left: 2em;
        margin-right: 6em;
    }

    .barra__pesquisa::placeholder {
        text-align: left;
        padding-left: 1em;
        font-size: 14px;
        font-weight: 400;
        color: var(--cor-placeholder);
        background-image: url(../img/icone\ lupa\ cinza.svg);
        background-repeat: no-repeat;
        background-position: center right;
    }
}

@media screen and (min-width: 1440px) {
    .lupa {
        margin-right: 35em;
    }
}