.container__login {
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-background);
    padding-bottom: 6em;
}

.container__login h2 {
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 700;
    margin-top: 6em;
}

.login__item {
    width: 275px;
    height: 40px;
    margin: 0.5em auto;
    border-radius: 4px;
    box-shadow: 0 1px rgba(200,200,200);
}

.login__botao {
    width: 110px;
    height: 40px;
    background-color: var(--azul-fonte);
    color: var(--branco);
    font-size: 14px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    margin: 1em auto;
    transition: 0.5s;
    cursor: pointer;
}

.login__botao:hover {
    border: 1px solid var(--azul-fonte);
    color: var(--azul-fonte);
    background: var(--branco);
    transition: 0.5s;
}

#email::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding-left: 0.7em;
    color: var(--cor-placeholder);
}

#senha::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding-left: 0.7em;
    color: var(--cor-placeholder);
}

@media screen and (min-width: 1440px){
    .container__login h2 {
        font-size: 18px;
    }

    .login__item {
        width: 475px;
        height: 65px;
    }

    .login__botao {
        width: 475px;
        height: 65px;
    }
}