/*estilo do index e todosOsProdutos*/

.background {
    background-color: var(--cinza-background);
    padding-top: 1em;
}

.produtos {
    display: grid;
    justify-content: center;
}

.container__titilo--adiconar {
    padding: 1.7em 0;
    width: 100%;
}

.container__titilo--adiconar h2 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 2em;
}

.adicionar__produto--item {
    padding: 12px 10px;
    background: var(--azul-fonte);
    color: var(--branco);
    cursor: pointer;
    transition: 0.5s;
}

.adicionar__produto--item:hover {
    border: 1px solid var(--azul-fonte);
    background: var(--branco);
    color: var(--azul-fonte);
    transition: 0.5s;
}

.produtos__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2em;
    gap: 0.5em;
}

.produtos__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    width: 100%;
}

.ver__mais {
    color: var(--azul-fonte);
}

.produtos__titulo h2 {
    font-size: 22px;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.produtos__titulo input {
    font-family: var(--fonte-principal);
    font-size: 14px;
    color: var(--azul-fonte);
    font-weight: 700;
    background-color:transparent;
}

.produtos__item h3 {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 14px;
    padding-top: 8px;
}

.produtos__item p {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 14px;
    padding-top: 8px;
    color: var(--azul-fonte);
}

.produtos__item h4 {
    font-family: var(--fonte-principal);
    padding-top: 8px;
    font-weight: 700;
}


#mais__produtos{
    display: none;
}

@media screen and (min-width: 768px) {
    .container__titilo--adiconar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .container__titilo--adiconar h2 {
        padding: 0;
    }

    .produtos__container {
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (min-width: 1440px){
    .container__titilo--adiconar h2 {
        font-size: 32px;
    }

    .produtos__container {
        grid-template-columns: repeat(5,auto);
    }

    #mais__produtos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.5em;
    }
}